.h1{
  background-color: #CC3333;
  color: aliceblue;
  padding: 2%;
}
.center{
  text-align: center;
}
@keyframes anim{
  0%{ background-color: #332E7A;}
  20%{ background-color: #514444;}
  60%{ background-color: #162A48;}
  80%{ background-color: #a8a7a7;}
  100%{ background-color: rgba(219,113,208,0.192);}
}
.container{
  animation-name:anim ;
  animation-duration: 9s;
  animation-iteration-count: infinite ;
}
.button{
  width: 40%;
  height: auto;
  padding: 1%;
  margin-top: 5%;
  color: antiquewhite;
  font-size: 2rem;
  border-radius: 50px;
  background-color: #CC3333;
}
