.formaBalota{
  width:6rem;
  height: 6rem;
  font-size: 4rem;
  color: white;
  background:radial-gradient(
    circle at 0 0,
    hsl(7, 100%, 50%) 25%,
    hsl(0, 89%, 14%) 70%,
    hsl(60, 8%, 17%)
  );;
  border-radius: 4rem;
  border-color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom:2% ;
}
